{% extends 'base.html' %}

{% block title %}
    Biens
{% endblock %}

{% block content %}
    <div class='hero'>
        <div class='hero-content'>
            <div class='left'>
                <h1>CLAUDIO I. CORREA BARRÍA</h1>
                <h2> ingeniero civil matematico - Desarrollador Fullstack </h2>
                <p> Relleno </p>
                <a href='#contacto' class='btn'>Contáctame</a>
            </div>
            <div class='right'>
                <img src="{{ url_for('static', filename='Anto_Claudio.png')}}" width=300px/>
            </div>
        </div> 
    </div>
{% endblock %}