<div class='center'>
    <div class='content'>
        <div class='row vert-pad'>
            <div class='left padded'>
                <h1>Listo para nuevos desafios</h1>
                <p>"Soy un recién graduado en ingeniería civil matemática y estoy listo para incorporarme al mundo laboral. Durante mi tiempo en la universidad, aprendí a trabajar duro y a enfrentar desafíos complejos. Como prueba, durante mi tiempo libre, utilicé mis habilidades en CSS, HTML y Python para construir este sitio web y otras aplicaciones desde cero. Estoy ansioso por aplicar mis habilidades y conocimientos en un entorno laboral y seguir aprendiendo y creciendo como profesional."</p>
            </div>
            <div class='right padded'>
                <h1>Animate a enviarme un correo! de verdad estoy listo para trabajar</h1>
                <p>Contáctame, solo <a class="orange" href="#contacto">haz clic aquí</a></p>
            </div>
        </div>
    </div>
</div>
