<div class="center padded">
    <div class="content padded">
        <div id='proyecto' class = 'padded'>
            <h1> Proyectos y aplicaciones Desarrollados </h1>
        </div>
        <div class='row'>
            <div class='card third'>
                <h3>one app</h3>
                <p>Un Simple ejemplo de red neuronal programado desde cero <a class ='orange' href='#'> Link aqui</a></p>
            </div>
            <div class='card third'>
                <h3>one app</h3>
                <p>Un Simple ejemplo de red neuronal programado desde cero <a class ='orange' href='#'> Link aqui</a></p>
            </div>
            <div class='card third'>
                <h3>one app</h3>
                <p>Un Simple ejemplo de red neuronal programado desde cero <a class ='orange' href='#'> Link aqui</a></p>
            </div>
        </div>
    </div>
</div>